doctype html
html
  head
    meta(charset='utf-8')
  body
    h1 회원 가입

    div
      form(action="/create", method="POST")
        p
          label(for='name') 아이디 :
          input.form-control(name="id", type="text", placeholder="abc@gmail.com")
        p
          label(for='password') 비밀번호 :
          input.form-control(name="password", type="password", placeholder="********")
        p
          label(for='email') 이름 :
          input.form-control(name="name", type="text", placeholder="홍길동")
        p
          button.btn.btn-lg.btn-primary.btn-block(type="submit") 완료
